
<div class="ek-tab mt-4">
  <h2 class="title-table"> {{ titleTable }} </h2>
  <table class="ui-table" *ngIf="dataSource.columns.length">
    <thead class="ui-table_header">
    <tr>
      <th *ngFor="let head of dataSource.columns">
        <p style="cursor: pointer">{{head}}
          <img *ngIf="head !== 'Id' && typeTable === 'books'"
               src="assets/img/sort.svg" alt="Sort"
               (click)="headItemSort.emit(head)"
          >
        </p>
      </th>
    </tr>
    </thead>
    <tbody class="ui-table_content">
    <tr class="line_matching" *ngFor="let row of dataSource.rows">

      <td *ngFor="let cell of row.cells">
        {{cell}}
      </td>
    </tr>
    </tbody>
  </table>
</div>



