<form class="row" [formGroup]="form">
  <div *ngIf="invalid" class="error-message">
    <h4> Пожалуйста, заполните все поля. </h4>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <label class="form-label">Автор</label>
      <select formControlName="author" class="form-control">
        <option value="">Выберите автора</option>
        <option *ngFor="let author of authors"
                [value]="author.surname + ' ' + author.name + ' ' + author.patronymic"
        >
          {{ author.surname }} {{ author.name }} {{ author.patronymic }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">Название</label>
      <input formControlName="title" type="text" class="form-control">
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <label class="form-label">Издатель</label>
      <input formControlName="publisher" type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Год</label>
      <input formControlName="year" type="number" class="form-control" min="100" max="2100">
    </div>
  </div>
  <div class="col-md-12 text-md-end">
    <button (click)="save()" type="submit" class="btn btn-primary">Добавить</button>
  </div>
</form>
